<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="indexContainer">
      <h1>Ghetto Twitter </h1>
      <div class="buttonDiv">
        <div class="button">
          <a href="/login"> Login</a>
        </div>
        <div class="button">
          <a href="/signup"> Signup</a>
        </div>
      </div>
    </div>
</body>
</html>