/* INDEX EJS */
.mainIndexContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  background: black;
  color: white;
  height:2100px;  
}

.indexContainerOne {
  width: 50%;
}

.indexContainerTwo {
  margin-top: 200px;
  margin-left: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  background: black;
  color: white;
  height:2100px;
}

.indexContainer > .buttonDiv > .button {
  width: 130px;
  height: 40px;
  color: #fff
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: blue;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* TODOS EJS */
.columnOne {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 20px;
  margin-left:20px;
}

.columnOne > li {
  padding: 20px 5px 5px 10px;
}


.tweetContainer {
  display: flex;
  background: black;
  color: white;
  height: 2190px;
}

.card {
  flex-grow: 1;
  width: 33%;
  flex-direction: column;
}

.card_child {
  text-align: center;
}

.tweetContainerTwo {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.tweetCard {
  height: 100px;
  width: 300px;
}

.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}